/* Estilos para a barra de navegação */
.navbar {
    position: fixed; /* Fixar no topo */
    top: 0;
    left: 0;
    width: 100%; /* Largura total */
    z-index: 1000; /* Certifique-se de que a barra de navegação fica acima de outros elementos */
}

/* Ajuste a altura da barra de navegação de acordo com suas necessidades */
.navbar {
    height: 60px;
}

/* Estilos para o logotipo ou marca na barra de navegação */
.navbar-brand {
    font-weight: bold;
    color: #333; /* Cor do texto do logotipo */
}

/* Estilos para os links da barra de navegação */
.navbar-nav .nav-link {
    color: #333; /* Cor do texto dos links */
    padding: 15px 20px; /* Espaçamento interno */
}

/* Estilos para os links quando hover */
.navbar-nav .nav-link:hover {
    background-color: #f8f8f8; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o botão de expansão em telas pequenas */
.navbar-toggler-icon {
    background-color: #333; /* Cor do ícone */
}

/* Estilos para o texto do botão de expansão em telas pequenas */
.navbar-toggler {
    border-color: #333; /* Cor da borda do botão */
}

/* Estilos para o texto do botão de expansão em telas pequenas */
.navbar-toggler-icon:focus {
    outline: none; /* Remover contorno ao focar no ícone */
}

/* Estilos para o conteúdo abaixo da barra de navegação */
.main-content {
    padding-top: 80px; /* Deixe espaço para a barra de navegação */
}
