

body {
   /* background-color: #a8dadc; */
    font-family: Arial, sans-serif;
    margin: 0;
}


.navbar-brand {
   /* font-weight: bold;
    color: white !important; */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 28px;
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #999;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #3e8e41;
}

#mensagem {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 3px;
    color: #a94442;
    display: none;
}
